<html>
{% block header%}
<head>
    <title>Lumi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'lumi/Main.css' %}">
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'lumi/forms.css' %}">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'lumi/app.css' %}">
</head>
{% endblock %}
<nav class="navbar navbar-fixed-top navbar-custom">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-main" aria-expanded="false">
				<span class="sr-only">toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href={%url 'home'%} class="navbar-brand "> <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Lumi</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-nav-main">
			<ul class="nav navbar-nav navbar-right">
				<li><a href={%url 'registerPage'%} class = "nav_right"> <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Sign Up</a></li>
				<li><a href={%url 'loginPage'%} class = "nav_right"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Login</a></li>
			</ul>
		</div>
	</div>
</nav>

<body>
	<div>
	
	</div>
    <div id="content", name="content">
        {% block content%}
        {% endblock %}
    </div>
</body>  
</html>
