{% extends 'lumi/app_base.html' %}

{% block content%}
<h1>Drac Error</h1>
<h4>This is likely a error with the inputs of the sample being calculated.</h4>
<ul>
<li>First double check any inputs for mistakes you may have made.</li>
<li>You can use the original DRAC website for error messages, to help you find your mistake.</li>
<li><a href = 'https://www.aber.ac.uk/en/dges/research/quaternary/luminescence-research-laboratory/dose-rate-calculator/?show=calculator'>Dose rate calculator(DRAC)</a></li>

</ul>
{%endblock%}