{% extends 'lumi/app_base.html' %}
{% block content%}
    <div class = container>
        <h1>Samples -- {{chosen_project.project_name}}</h1>
    </div>
    <form action="{% url 'addSamplePage' %}" method="POST">
        {% csrf_token %}
        <button type="submit" name = 'addSample' value = "{{chosen_project.id}}" class = "addbuttons">Add a new sample</button>
    </form>
    <br>
    <div class="appRow">
        <div class="appColumn">
            {%for sample in sample_list%}
            <form action="{% url 'manageSamplePage' %}" method="POST">
                {% csrf_token %}
                <div class = projListSection>
                    <div class = container>
                        <h2>{{sample.sample_name}}</h2>
                        <br>
                        <em>Created at: {{sample.created_at}}</em>
                    </div>
                    <div class = container>
                        <button type="submit" name = 'viewSample' value = "{{sample.id}}" class = "viewbuttons"> View</button> 
                        <button type="submit" name = 'deleteSample' value = "{{sample.id}}" class = "deletebuttons" onclick="return confirm('Are you sure you want to delete this?')"> Delete</button>
                        <button type="submit" name = 'makeJSON' value = "{{sample.id}}" class = "addbuttons">JSON</button> 
                        <button type="submit" name = 'calc_drac' value = "{{sample.id}}" class = "calcbuttons"> DRAC</button> 
                    </div>    
                </div>
            </form>
            {% endfor %}
            </div>
            <div class="appColumn">
                
            </div>
    </div>

{% endblock %}