{% extends 'lumi/app_base.html' %}

{% block content%}
<h1>View Sample -- {{chosen_sample.sample_name}}</h1>

    <form action="{% url 'editSamplePage' %}" method="POST">
        {% csrf_token %}
        <button type="submit" name = 'editSample' value = {{chosen_sample.id}} class = "calcbuttons"> EDIT</button>
    </form>

<div class="appRow">
    <div class="appColumn">
        <h2>Inputs</h2>
        <br>
        <table>
            {{filledForm}}
        </table>
    </div>
    <div class= "appColumn">
        <h2>Outputs</h2>
        <br>
        <table>
            {{OutputFilledForm}}
        </table>
        
    </div>
</div>
{% endblock %}