
.login-form h1{
	font-family: 'Overpass', sans-serif;
	color: rgb(211, 211, 211);;
}

body{
	text-align: center;
}

hr{
	width: 400px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}


/* Modify navigation bar */
.navbar {
	text-align: center;
	font-size: large;
	color: #000000;
	font-family: 'Roboto Mono', monospace;
}

.navbar .navbar-right{
	padding-top: 25px;
	text-align: center;
	font-size: medium;
	font-family: 'Roboto Mono', monospace;
}

.nav_right{
	color:rgb(161, 18, 18);
}

.navbar-custom {
    background-color: rgb(211, 211, 211);
	height: 100px;
	padding-top: 25px;

}
.navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: rgb(161, 18, 18);
			font-size: 48px;
			
		}